.timeline {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    &-input {
        display: flex;
        justify-content: center;
        align-items: center;
        &__btn {
            display: flex;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            justify-items: center;
            justify-content: center;
            align-items: center;
        }
    }
    &-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        &-character {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 25px;
            &__name {
                font-weight: 700;
            }
            &__age {
                font-weight: 700;
            }
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        
    }
}

.paddingTop {
    padding-top: 150px;
}


