.character {
    display: flex;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  &-list {
        margin: 3vh 0px 3vh 0px;
        display: flex;
        width: 15%;
    &__items {
     
      &__image {
        width: 248px;
        height: 320px;
      
    }

  }
  }
}
h1{
   color: darkgoldenrod;
}