.fondo{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
    
}
   
.name{
    text-align: center;
    color: white ;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.escudos{
    img{
        width: 100%;
    }
    
     
}
.letras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}